<header class="site-header">

    <div id="header">

        <div id="titlearea">
            <h1><a id="titlelink" href="{{ site.baseurl }}/"><p id="titlename">Dynamic Avatar</p>
                <p id="titletext">Drawer</p></a></h1>
        </div>
    </div>

    <div id="navbar">
        <ul id="navbar-menu">
            {% for my_page in site.html_pages %}
            {% assign ext = my_page.name | split: "." | last %}
            {% if ext != 'html' %} {% continue %} {% endif %}
            {% if my_page.exclude_from_header == true %} {% continue %} {% endif %}
            {% if my_page.title %}
            {% if page.group == my_page.group %}
            <li id="active">{% else %}
            <li>{% endif %}
                <a class="page-link navlink" href="{{ my_page.url | prepend: site.baseurl }}">{{
                    my_page.group }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a class="page-link navlink" href="{{ site.baseurl }}/dist/test.html">Test</a></li>
            <li><a class="page-link navlink" href="{{ site.baseurl }}/dist/da.js">Download</a></li>
            <li><a class="page-link navlink" href="https://gitlab.com/PerplexedPeach/dynamic-avatar-drawer">Repository</a></li>
            <div style="clear:both"></div>
        </ul>
    </div>
</header>
